{% extends "base-traditional.html" %}
{% block title %}知识库-BSMI{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="content h900">
            <h2>关于我</h2>
            <p>写代码, 始于 2002.</p>
            <p>Linux/FreeBSD 爱好者，开源爱好者.现在在写 PHP,Go lang, Java, C/CPP. Know a bit about Erlang, JAVA,
                Scala,Haskell,Ocaml,Python,Ruby,Lua，Rust Lang.</p>
            <h2>联系方式</h2>
            <p>netroby#netroby[dot]com</p>


            <h2>捐助支持</h2>
            <p>如果喜欢我分享的技术文章,请支持在下. 感激不尽.</p>
            <p>支付宝二维码扫描捐赠:<br/><img src="/assets/images/alipayme.jpg"
                                     alt="支付宝二维码扫描捐赠">
            </p>
            <p>捐赠Bitcoin:<code>136MYemy5QmmBPLBLr1GHZfkES7CsoG4Qh</code></p>
        </div>
    </div>
</div>
{% endblock %}