{% extends "base-traditional.html" %}
{% block title %}知识库-BSMI{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="content h900">

            <h2>收费公告</h2>
            <p>如果喜欢我分享的技术文章,请支持在下. 感激不尽.</p>
            <p>知识是无价的，但是付出是有价值的。所以本站所有文章，现在收费提供。感谢您的支持。</p>
            <p>支付宝二维码扫描捐赠:<br/><img src="/assets/images/alipayme.jpg"
                                    alt="支付宝二维码扫描捐赠">
            </p>
            <p>捐赠Bitcoin:<code>136MYemy5QmmBPLBLr1GHZfkES7CsoG4Qh</code></p>
        </div>
    </div>
</div>
{% endblock %}