<div class="col-md-3 sidebar">
    <h4>分类</h4>
    {% for cate in categories %}
    <p><a href="/?cateId={{cate.ID}}">{{ cate.Name }}</a> </p>
    {% endfor %}
    <h4>赞助商</h4>
    <p><a href="https://www.backblaze.com/cloud-backup.html#af9vce" target="_blank"><img style="max-width: 150px;" src="https://www.backblaze.com/pics/email-backblaze-logo-hd.jpg" /></a></p>
    <p><a href="https://www.aliyun.com/minisite/goods?userCode=f2zi8g3h" target="_blank"><img style="max-width: 150px" src="https://img.alicdn.com/tfs/TB1ECS5M3HqK1RjSZFkXXX.WFXa-80-48.png" /></a></p>
    </ul>
    <hr />
    <h4>链接</h4>
    <p><a href="http://www.hostloc.com" target="_blank">hostloc</a></p>
    <p><a href="http://www.veryide.com/" target="_blank">VeryIDE</a></p>
    <!--边栏内容-->
</div>